@model IEnumerable<Student_Attendance.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        Specialization
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Academic Year
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYear.Name)
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editSubjectModal" data-id="@item.Id" data-name="@item.Name" data-code="@item.Code" data-specializationid="@item.SpecializationId" data-semester="@item.Semester" data-courseid="@item.CourseId" data-academicyearid="@item.AcademicYearId">
                                Edit
                            </button>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add / Edit Subject
            </div>
            <div class="card-body">
                <div id="addEditSubject">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSubjectModal" tabindex="-1" aria-labelledby="editSubjectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSubjectModalLabel">Edit Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editAddSubject">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
           $(document).ready(function () {
            loadAddEditSubject();
        });
        function loadAddEditSubject(){
              $.ajax({
                url: '/Subjects/AddEdit',
                type: 'GET',
                success: function (result) {
                    $('#addEditSubject').html(result);
                }
            });
        }
        $('#editSubjectModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var code = button.data('code');
            var specializationid = button.data('specializationid');
            var semester = button.data('semester');
            var courseid = button.data('courseid');
            var academicyearid = button.data('academicyearid')


            var modal = $(this);
             $.ajax({
                url: '/Subjects/AddEdit',
                 type:'GET',
                data: {id : id},
                success: function (result) {
                     $('#editAddSubject').html(result);
                     $('#editAddSubject').find('#SpecializationId').val(specializationid);
                       $('#editAddSubject').find('#Semester').val(semester);
                       $('#editAddSubject').find('#CourseId').val(courseid);
                       $('#editAddSubject').find('#AcademicYearId').val(academicyearid);
                }
            });

        });
    </script>
}