@model IEnumerable<Student_Attendance.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editCourseModal" data-id="@item.Id" data-name="@item.Name">
                                Edit
                            </button>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add / Edit Course
            </div>
            <div class="card-body">
                <form asp-action="CreateEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="Id" name="Id" value="0" />
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" id="Name" name="Name" class="form-control" />
                        <span class="text-danger" id="Name-Error"></span>
                    </div>

                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="editCourseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCourseModalLabel">Edit Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="editId" name="Id" value="" />
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input type="text" id="editName" name="Name" class="form-control" />
                        <span class="text-danger" id="editName-Error"></span>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#editCourseModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#editId').val(id);
            modal.find('#editName').val(name);
        });
         $("form[asp-action='CreateEdit']").submit(function(event) {
           var name =  $(this).find('#Name').val();
           var error = false;
           if(name == null || name == '')
           {
            event.preventDefault();
            $(this).find('#Name-Error').text('Name is required');
             error = true;
           }
            else
           {
            $(this).find('#Name-Error').text('');
           }

            if(error)
            {
                return false;
            }
            return true;
        });

    </script>
}