@model IEnumerable<Student_Attendance.Models.Specialization>

@{
    ViewData["Title"] = "Index";
}

<h1>Specializations</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Course
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editSpecializationModal" data-id="@item.Id" data-name="@item.Name" data-courseid="@item.CourseId">
                                Edit
                            </button>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add / Edit Specialization
            </div>
            <div class="card-body">
                <div id="addEditSpecialization">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSpecializationModal" tabindex="-1" aria-labelledby="editSpecializationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSpecializationModalLabel">Edit Specialization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editAddSpecialization">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadAddEditSpecialization();
        });
         function loadAddEditSpecialization(){
              $.ajax({
                url: '/Specializations/AddEdit',
                type: 'GET',
                success: function (result) {
                    $('#addEditSpecialization').html(result);
                }
            });
        }
        $('#editSpecializationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var courseid = button.data('courseid');


            var modal = $(this);
             $.ajax({
                url: '/Specializations/AddEdit',
                 type:'GET',
                data: {id : id},
                success: function (result) {
                    $('#editAddSpecialization').html(result);
                    $('#editAddSpecialization').find('#CourseId').val(courseid);

                }
            });

        });
    </script>
}